/* Styles for the drag and Drop */
:root {
  --black: rgb(14, 14, 14);
  --darkgrey: rgb(18, 19, 23);
  --light-purple: rgb(68, 51, 122);
  --purple: rgb(40, 29, 81);
  --green: rgb(10, 64, 44);
  --dark-green: rgb(7, 40, 28);
}

/* syles for the boardSelector */
.boardContainer {
  background-color: var(--second-background-color);
  display: flex;
  gap: 10px;
  color: var(--color);
  width: 100%;
}

.boardOverview {
  width: 100%;
  padding: 25px;
}

/* Styles for draft area */
.boardDraftContainer {
  background-color: var(--darkgrey);
  padding: 20px;
  border-radius: 5px;
  display: flex;
  height: 100%;
  gap: 10px;
  box-sizing: border-box;
}
