.boardPageWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.boardContainer {
  background-color: var(--second-background-color);
  display: flex;
  gap: 10px;
  color: var(--color);
  width: 100%;
  flex-grow: 1;
}

.boardOverview {
  width: 100%;
  padding: 25px;
  position: relative;

  display: flex;
}

/* Styles for draft area */
.boardDraftContainer {
  background-color: var(--darkgrey);
  padding: 20px;
  border-radius: 5px;
  display: flex;
  gap: 10px;
  box-sizing: border-box;
}

// hides the sideMenu on click
.sideBarHidden {
  transition: left 0.3s ease-in-out;
  left: -300px;
}
.sideBarVisible {
  transition: left 0.3s ease-in-out;
  left: 0;
}
