.boardsSelection {
  overflow: auto;

  background-color: var(--background-color);
  border-right: 2px solid var(--line-color);
  height: 100%;
  position: relative;

  display: flex;
  flex-direction: column;
  padding: 30px 30px 30px 30px;
  width: 300px;
  box-sizing: border-box;
  flex-shrink: 0;
  transition: left 0.3s ease-in-out;

  h4 {
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .topSection {
    .boardTab {
      color: var(--medium-grey);
      width: 100%;
      position: relative;
      left: -35px;
      padding: 15px 30px;
      margin-bottom: 10px;
      border-radius: 0px 30px 30px 0px;
      transition: background-color 0.3s;
      cursor: pointer;

      box-sizing: border-box;
      width: calc(100% + 40px);

      &:hover {
        background-color: var(--light-violet);
        color: white;

        .boardContentContainer {
          svg {
            fill: white;
          }
        }
      }

      .boardContentContainer {
        display: flex;
        gap: 20px;
        width: 100%;
        align-items: center;

        svg {
          fill: var(--medium-grey);
        }
      }
    }

    .activeBoardTab {
      background-color: var(--violet);
      color: white;

      .boardContentContainer {
        svg {
          fill: white;
        }
      }
    }

    .createNewBoardContainer {
      display: flex;
      gap: 20px;
      align-items: center;

      &:hover {
        background: none;
      }

      svg {
        fill: var(--violet);
      }

      span {
        color: var(--violet);
      }
    }
  }

  .bottomSection {
    .hideSidebar {
      display: flex;
      gap: 15px;
      align-items: center;
      color: var(--medium-grey);
      fill: var(--medium-grey);
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.makeVisibleButton {
  position: fixed;
  bottom: 20px;
  background-color: var(--violet);
  padding: 20px;
  border-radius: 0px 50% 50% 0;
  z-index: 100;
  margin: 0;
  transition: left 0.3s ease-in-out;

  &:hover {
    cursor: pointer;
    background-color: var(--light-violet);
  }
}

.makeVisibleVisilbe {
  left: 0;
}

.makeVisibileHidden {
  left: -60px;
}
