.boardOverview {
  .draftContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;

    font-family: arial;
    color: white;
    background-color: var(--black);

    padding: 40px;
    border-radius: 20px;
  }

  .draftOverViewWrapper {
    display: flex;
    -webkit-box-align: start;
    align-items: start;

    .draftTab {
      box-sizing: border-box;
      // padding-right: 25px;
      border-radius: 5px;
      width: 150px;
      height: 100%;
      margin-right: 25px;
      width: 280px;
      width: 280px;
      flex-shrink: 0;
      .draftTitle {
        text-transform: uppercase;
        margin-bottom: 25px;
      }
    }
  }
  .addNewDraftContainer {
    background: var(--gradient);
    margin-top: 40px;
    width: 260px;
    border-radius: var(--border-radius-std);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    h1 {
      color: var(--medium-grey);
    }

    &:hover {
      cursor: pointer;
    }
  }
}
