.taskContainer {
  .taskTab {
    background-color: var(--background-color);
    padding: 25px 15px;
    border-radius: var(--border-radius-std);
    margin-bottom: 20px;
    box-shadow: var(--box-shadow);
    color: var(--color);

    .taskContentContainer {
      display: flex;
      flex-direction: column;
      gap: 5px;

      .subtasks {
        color: var(--medium-grey);
      }
    }
  }
}
